/* General */

#content {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.card-title {
  display: inline;
}

/* Api Content Styling */

@media (min-width: 1300px) {
  .APIDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .APIDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 800px) {
  .APIDisplay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

.card-buttons {
  width: calc(100% - 40px);
  position: absolute;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.secondary-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.card {
  height: 300px;
}

.fas {
  color: black;
}

/* User Page Styling */

.profile-image {
  margin: 0.5rem 0.5rem;
  margin-left: 0;
  justify-self: center;
}

/* About Page */
.about {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

/* Loading page */
#loading {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

#loadingGif {
  width: 40px;
  height: 40px;
}
