.content {
  margin-top: 2rem;
}

.profile-image {
  margin: 0.5rem 0.5rem;
}

/* User Page Styling */
@media (min-width: 1300px) {
  #userDisplay {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 700px) and (max-width: 1300px) {
  #userDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
}

@media (max-width: 700px) {
  #userDisplay {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

/* About Page */
.about {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
